body {
    text-align: center;
}
.checkText {
    padding-right: 25px;
}
.form {
    margin: 20px;
}
.button {
  font-size: 20px
}
td {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
table {
  margin: 20px;
}
label {
  padding-bottom: 10px;
}

.version {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;

	font-size: 14px;
	padding: .2em 0;
  color: #8e8e93;
}
.version:before,
.version:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 1px;

	vertical-align: middle;
	background: #000;
	background-clip: content-box;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
.version:before {
	left: -.5em;
	margin: 0 0 0 -50%;
}
.version:after {
	left: .5em;
	margin: 0 -50% 0 0;
}
